
.form-control::-webkit-input-placeholder {
    color: #2b3e50;
    opacity: 0.6;
}

.form-control::-moz-placeholder {
    color: #2b3e50;
    opacity: 0.6;
}

.form-control:-ms-input-placeholder {
    color: #2b3e50;
    opacity: 0.6;
}

.form-control.ng-invalid:not(:focus) {
    background-color: #d9534f;
    color: #ffffff;
}

.form-control.ng-invalid:not(:focus)::-webkit-input-placeholder {
    color: #ffffff;
    opacity: 0.6;
}

.form-control.ng-invalid:not(:focus)::-moz-placeholder {
    color: #ffffff;
    opacity: 0.6;
}

.form-control.ng-invalid:not(:focus):-ms-input-placeholder {
    color: #ffffff;
    opacity: 0.6;
}
